[Unit]
Description=Open WebUI
After=ollama.service
Wants=ollama.service
StartLimitIntervalSec=300
StartLimitBurst=10

[Container]
# https://github.com/open-webui/open-webui/tags
Image=ghcr.io/open-webui/open-webui:0.8.10
ContainerName=ollama-open-webui
Pod=ollama.pod
Environment=OLLAMA_BASE_URL=http://0.0.0.0:11434
Environment=WEBUI_AUTH=true
Secret=ollama-webui-email,type=env,target=WEBUI_ADMIN_EMAIL
Secret=ollama-webui-password,type=env,target=WEBUI_ADMIN_PASSWORD
Volume=/mnt/podman/ollama/.data/open-webui:/app/backend/data:Z

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
