[Unit]
Description=VPN Downloader VPN Container

[Service]
ExecStart=/opt/vpn_downloader/deploy-vpn.sh
ExecStop=/usr/bin/podman stop vpn-downloader-vpn
ExecStopPost=/usr/bin/podman rm -f vpn-downloader-vpn
Restart=always

[Install]
WantedBy=default.target

